<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
         version="3.1">

    <welcome-file-list>
        <welcome-file>userLogin/loginindex.jsp</welcome-file>
        <welcome-file>hello.jsp</welcome-file>
    </welcome-file-list>

    <!-- 前控制器的职责：
            1.作为统一入口
            2.创建spring容器
            3.在tomcat启动时，就把spring容器创建好
   -->
    <servlet>
        <servlet-name>dispatcherServlet</servlet-name>
        <servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
        <init-param>
            <param-name>contextConfigLocation</param-name>
            <param-value>classpath:spring.xml</param-value>
        </init-param>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <!-- 给 DispatcherServlet 指定路径
      假设浏览器  /hello  没有，会找 / 这个路径
                 /s1     没有，会找 / 这个路径

               只要没有其他servlet能够精确匹配这个请求路径，这个请求都会被 / 的这个servlet来处理
   -->
    <servlet-mapping>
        <servlet-name>dispatcherServlet</servlet-name>
        <url-pattern>/</url-pattern>

    </servlet-mapping>


</web-app>